body {
    margin: 0;
    font-family: Arial;
    background: #f5f6fa;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    position: fixed;
    padding: 20px;
    color: white;
}

.sidebar a {
    display: block;
    color: #ccc;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #1f2937;
}

/* MAIN */
.main {
    margin-left: 220px;
    padding: 20px;
}

/* STATS */
.stats {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.green { background: green; }
.orange { background: orange; }
.red { background: red; }

/* BUTTON */
.add-btn {
    margin: 20px 0;
    padding: 10px 20px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* TABLE */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}